*{
	margin: 0;
	padding: 0;
}
@font-face{
    font-family: "Graffiti";
    src: url("Graffiti.ttf") format("OpenType")
 }

  @font-face{
    font-family: "Poppins-Bold";
    src: url("Poppins-Bold.ttf") format("OpenType")
 }

@font-face{
    font-family: "Poppins-Regular";
    src: url("Poppins-Regular.ttf") format("OpenType")
 }



#imgdiv{
    height: 450px;
    width: 450px;
}

#divicon{
    width: 450px;
    height: 450px;
    background-color: #f5f5f5;
}

#container{
    background-color: #f5f5f5;
    padding-top: 50px;
    width: 99vw;
    
}

#divname{
    width: 700px;
    height: 150px;
    margin-top: 150px;
    margin-left: 140px;
    background-color: #f5f5f5;
}

#namediv{
    color: #bf1111;
    font-family: Poppins-Bold;
    font-size: 75px;
}

#divs{
    margin-top: 100px;
    background-color: #f5f5f5;
    justify-content: center;
    display: flex;
    height: 500px;
    width: 98vw;
}

h1{
    font-size: 40px;
    font-family: Poppins-Bold;
    padding-bottom: 20px;
}

#textdiv{
    background-color: #f5f5f5;
    height: 350px;
    width: 1100px;
    margin-left: 120px;
    font-family: Poppins-Regular;
    font-size: 20px;

}

p{
    padding-bottom: 10px;
}

#containerlogo{
    width: 1000px;
    height: 100px;
    background-color: #f5f5f5;
}

.imglogo{
    height: 40px;
    width: 40px;
    margin-left: 10px;
}

.logoss{
    margin-top: 25px;
    margin-left: 120px;
    background-color: #f5f5f5;
    height: 40px;
    width: 1000px;
    display: flex;
}

#redess{
    margin-top: 40px;
    margin-left: 110px;
}

#trabalhosdiv{
    margin-top: 40px;
    margin-left: 110px;
    background-color: #f5f5f5;
    width: 250px;
    height: 50px;
}

body{
    background-color: #f5f5f5;
    max-height: 1000px;
    max-width: 95vw;
}