*{
	margin: 0;
	padding: 0;;
}

@font-face {
    font-family: "Graffiti";
    src: url("Graffiti.ttf") format("OpenType")
  }

  @font-face {
    font-family: "Poppins-Bold";
    src: url("Poppins-Bold.ttf") format("OpenType")
  }

@font-face {
    font-family: "Poppins-Regular";
    src: url("Poppins-Regular.ttf") format("OpenType")
  }


 a{
 text-decoration: none;
 }


.conteudo{
background-color: #4c0484;
width: 500px;
height: 725px;
border-radius: 15px;
padding-left: 100px;
line-height: 50px;
justify-content: center;
align-items: center;
margin-top: 40px;

}

section{
display: flex;
flex-wrap: wrap;
font-family: Poppins-Regular;

}

.pai{
    width: 98vw;
    height: 1000px;
    padding-top: 80px;
    background-color: #f5f5f5;
    justify-content: center;
}

#paravocetext{
  width: 750px;
  height: 300px;
}

#paravocetextdiv{
  height: 300px;
  padding-top: 30px;
}

#margin{
  height: 100px;
}